{% extends 'header.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="detail-container">
    <div class="title">
        <h3>{{ product.title }}</h3>
        <span>R${{ product.price }}</span>
    </div>
    <div class="image-description">
        <div class="image">
            <img src="..{{ product.url_correction }}">
            
        </div>
        
        <div class="description-detail">
            <p>{{ product.description }}</p>
        </div>
    </div>
    <a id='download' href="..{{ product.file_url_correction }}" download>Clique para baixar o arquivo</a>
    <div class="button-detail">
        <a class="buy wish">Adicionar aos favoritos</a>
        <a class="buy">Comprar</a>
    </div>
    <div>
        <video width="670" height="360" controls autoplay>
            <source src="..{{ product.video_url_correction }}" type="video/mp4">
        </video>
    </div>
</div>
{% else %}
<h1>Não autenticado</h1>
{% endif %}

{% endblock %}