{% extends 'header.html' %}

{% block content %}

<div class="detail-container">
    <div class="title">
        <h3>{{ product.title }}</h3>
        <span>R${{ product.price }}</span>
    </div>
    <div class="image-description">
        <div class="image">
            <img src="..{{ product.url_correction }}">
        </div>
        <div class="description-detail">
            <p>{{ product.description }}</p>
        </div>
    </div>
    <div class="button-detail">
        <a class="buy wish">Adicionar aos favoritos</a>
        <a class="buy">Comprar</a>
    </div>
</div>

{% endblock %}